**Q.1. You have football feet of 92 meter long and 48.8 meter wide. Find total area and print it.**

In [9]:
x=92
y=48.8
area=x*y
print("The area of football field :",area)

The area of football field : 4489.599999999999

**Q.2. What is the difference between floor division and division. Give example of each of each and write what do you understand.**

**Floor division:(//)**

It gives the value in the nearest integer

Example:

In [10]:
x=5
y=4
print(x//y)

1

**Float:**

In [18]:
x=5
print("The square of 5=",x**2)
print("The cube of 5",x**3)

The square of 5= 25
The cube of 5 125

It gives value with a floating point.

**Example:With decimal point.**

In [15]:
x=5
y=4
print(x/y)

1.25

**Q.3.Find out the square and cube of 8. Write python code for it.**

In [17]:
x=8
print("The square of 8=",x**2)
print("The cube of 8=",x**3)

The square of 8= 64
The cube of 8= 512

**Q.4. Result=11>=12   print(result)**    
**What is the output of given code?**

In [19]:
result=11>=12
print(result)

False

**Q.5. Give example of AND,OR and NOT Operator and Write what do you understand from it.**

**.And Operator:**

The and operator is used to combine two conditions. It returns True only if both of its operands are true.

In [20]:
result=(5>3)and(4<7)
print(result)

True

**OR operator:**

The or operator is used to combine two conditions.It returns True if at least one of its operands is True.

In [21]:
result=(5>3)or(4>7)
print(result)

True

**NOT operator:**

The not operator is used to reverse the logical value of its operand.It returns True if its operand is False,and False if its operand is True.

In [22]:
result=not(5>3)
print(result)

False

**Q.6. There is a student who score who score 88,78,92 and 85 marks in Maths,Physics,Chemistry and Biology Respectively. calculate**
**i)Average of Marks**

In [23]:
m=88
p=78
c=92
b=85
t=(m+p+c+b)/4
print(t)

85.75